.update-profile {
  display: block;
  width: 50%;
  max-width: 500px;
  margin: 20vh auto;
  padding: 1rem;
}

.update-profile h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.link {
  width: 100%;
  text-align: center;
}

@media all and (max-width: 500px) {
  .update-profile {
    margin: 10vh 0;
    width: 100%;
  }
}
