.signup {
  display: block;
  width: 50%;
  max-width: 500px;
  margin: 15vh auto;
  padding: 1rem;
}

.signup h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.link {
  width: 100%;
  text-align: center;
}

@media all and (max-width: 800px) {
  .signup {
    margin: 15vh auto;
    width: 100%;
  }
}