.navbar {
  background-color: #777;
  height: 7vh;
  font-size: 2vh;
}

.navbar div {
  margin: 0 0 0 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 1.8vh 0;
}

.navbar li:last-child {
  margin: 1.8vh 2vh;
}

.navbar a {
  padding: 1.2em;
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 3vh;
}