.navbar {
  background-color: #777;
  height: 4rem;
  font-size: 1.2rem;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 0.45em 0.5em;
}

.navbar a {
  padding: 0 0.2rem 0.3rem;
  color: white;
  text-decoration: none;
}

.logo {
  /* padding-left: 0.5em; */
  font-size: 1.6em;
}

@media all and (max-width: 450px) {
  .navbar {
    font-size: 0.9rem;
  }

  .navbar li {
    display: inline;
    margin: 0.7em 0.5em;
  }
}