.navbar {
  background-color: #777;
  width: 100%;
  height: 7vh;
  font-size: 2.5vh;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 1.8vh;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 3vh;
}